@import './global.scss';

.page-about-us {
    padding-top: 2rem;

    .container-inner-background {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 230px;
        background-color: rgba(0, 0, 0, .5);
        box-shadow: 0 5px 55px $black;
    }

    h1 {
        color: $white;
        font-family: $passion;
        font-size: 56px;
        text-align: center;
    }

    h2 {
        padding-left: 5rem;
        font-size: 40px;
        text-align: left;
    }

    .mission-statement {
        padding: 1rem;
        padding-left: 2rem;
        font-size: 48px;
    }

    .company-values-container {
        h2 {
            margin-top: 2rem;
            margin-bottom: 1rem;
        }
    }

    .company-values {

        .value-container {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-around;
            padding: 2rem;
            background-image: linear-gradient(to right, $white 0%, $white 40%, $blue 40%);

            .icon {
                width: 20%;
                text-align: center;

                h3 {
                    margin-bottom: 1rem;
                    font-size: 32px;
                    font-family: $passion;
                    text-align: center;
                }

                svg {
                    width: 80%;
                    color: $red;
                }
            }

            p {
                width: 40%;
                color: $white;
                font-size: 20px;
            }
        }
    }
}

@media (max-width: 600px) {
    .page-about-us {

        h2 {
            padding: 0;
            text-align: center;
        }

        .company-values {
            .value-container {
                flex-direction: column;
                justify-content: center;
                background-image: initial;
                padding: 0;
                padding-bottom: 2rem;

                .icon {
                    width: 100%;
                    margin-bottom: 1rem;

                    svg {
                        width: 30%;
                    }
                }

                p {
                    width: 85%;
                    color: $blue;
                }
            }
        }

    }
}

@media (max-width: 560px) {
    .page-about-us {
        .mission-statement {
            font-size: 32px;
        }
    }
}