@import './global.scss';

.carousel {
    position: relative;
    width: 100%;
    height: 400px;
    overflow: hidden;

    .slides-container {
        position: absolute;
        display: flex;
        flex-direction: row;
        width: 400%;
        height: 400px;
        transition: .8s all ease;
    }

    .slide {
        position: relative;
        width: 25%;

        h3 {
            position: absolute;
            margin-top: 1rem;
            width: 25%;
            text-align: center;
            font-size: 30px;
            font-weight: 900;
            color: $white;
        }

        p {
            position: absolute;
            font-size: 24px;
            color: $white;
        }
    }

    .one {
        p {
            top: 30%;
            right: 1rem;
            width: 45%;
            min-width: 240px;
        }
    }

    .two {

        &:before,
        &:after {
            filter: brightness(.8);
        }


        h3 {
            left: 25%;
        }

        p {
            bottom: 15%;
            width: 100%;
            padding: 2rem;
            text-align: center;
        }
    }

    .three {

        &:before,
        &.after {
            filter: brightness(.8);
        }

        h3 {
            left: 50%;
        }

        p {
            top: 30%;
            left: 1rem;
            width: 45%;
            min-width: 240px;
        }
    }

    .four {
        h3 {
            left: 75%;
        }

        p {
            top: 30%;
            right: 1rem;
            width: 45%;
            min-width: 240px;
        }
    }

    .step-button {
        position: absolute;
        bottom: 1rem;
        color: $blue;
        cursor: pointer;
        transition: .2s all linear;

        &.previous {
            left: 1rem;
        }

        &.next {
            right: 1rem;
        }
    }
}

@media (max-width: 450px) {
    .carousel {
        .one {
            h3 {
                left: 5%;
            }
        }

        .four {
            h3 {
                left: 70%;
            }
        }
    }
}