@import './global.scss';

.carousel {
    position: relative;
    width: 100%;
    height: 350px;
    background-color: $blue;

    .step-button {
        position: absolute;
        bottom: 1rem;

        &.previous {
            left: 1rem;
        }

        &.next {
            right: 1rem;
        }
    }
}