@import './global.scss';

.page-donate {
    .donate-form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    h1 {
        margin-bottom: 1rem;
        font-size: 36px;
        font-family: $passion;
        text-align: center;
    }

    .error {
        margin-top: .5rem;
        padding: 0 1rem;
        padding-bottom: 1rem;
        color: $red;
        font-weight: 900;
        text-align: center;
    }

    label {
        display: block;
        width: 50%;
        min-width: 280px;
        max-width: 560px;
        margin: 0 auto;
    }

    .form-input {
        display: block;
        width: 100%;
        min-width: 280px;
        max-width: 560px;
        margin: .4rem auto 1rem;
        padding: .4rem .6rem;
        border: 2px solid $blue;
        border-radius: 1rem;
        color: $blue;
        font-weight: 900;

        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
            -webkit-appearance: none;
        }
    }

    .currency-container {
        position: relative;
    }

    .donation-amount {
        padding-left: 1.6rem;
    }

    .currency {
        position: absolute;
        top: 35px;
        left: 12px;
        color: $blue;
        font-weight: 900;
    }

    .submit-button {
        width: 25%;
        min-width: 140px;
        margin-top: 1rem;
        margin-bottom: 3rem;
        padding: .5rem;
        border: 2px solid $blue;
        border-radius: 1rem;
        font-size: 24px;
        font-family: $passion;
        color: $blue;
        background-color: $yellow;
        cursor: pointer;
        appearance: none;
    }
}