@import url('https://fonts.googleapis.com/css?family=Passion+One|Raleway:400,700&display=swap');

$passion: 'Passion One',
cursive;
$raleway: 'Raleway',
sans-serif;

$white: #ffffff;
$gray: #AEAEAE;
$blue: #00235B;
$light-blue: #88ABE2;
$yellow: #F39116;

a,
p,
h1,
h2,
h3,
h4,
h4,
h5,
h6 {
    color: $blue;
    font-family: $raleway;
}

h2 {
    color: $blue;
    font-size: 48px;
    font-weight: 900;
    text-align: center;
}

.container-link-button {
    text-align: center;
}

.link-button {
    margin: 1rem auto 0;
    display: inline-block;
    padding: 1rem 2rem;
    border-radius: 1rem;
    background-color: $yellow;
    font-family: $passion;
    font-size: 24px;
    text-align: center;
}