@import './global';

.container-home-hero {
    height: 100vh;
    position: relative;
    overflow: hidden;

    .dark-box {
        position: absolute;
        top: 80%;
        transform: translateY(-80%);
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        padding: .5rem 3rem;
        background-color: rgba(0, 0, 0, .5);
    }

    .total-sponsorships {
        color: $white;
        font-size: 132px;
        font-family: $passion;
        cursor: default;
    }

    .subline {
        font-size: 48px;
        font-family: $raleway;
        font-weight: 900;
        line-height: 150%;
        text-align: right;
        cursor: default;

        h1,
        p {
            display: block;
            color: $white;
        }
    }
}

@media (max-width: 1450px) {
    .container-home-hero {

        .subline p,
        .subline h1 {
            display: inline-block;
        }
    }
}

@media (max-width: 1000px) {
    .container-home-hero {
        .subline {
            padding-left: 2rem;
            font-size: 32px;
        }
    }
}

@media (max-width: 700px) {
    .container-home-hero {
        .dark-box {
            flex-direction: column;
            padding-bottom: 2rem;

            .subline {
                padding: 0;
                text-align: center;
            }
        }
    }
}

@media (max-width: 465px) {
    .container-home-hero {
        .subline {
            font-size: 24px;
        }
    }
}