@import './global';

.container-home-hero {
    height: 100vh;

    .total-sponsorships {
        position: absolute;
        top: 55%;
        left: 25%;
        transform: translate(-25%, -50%);
        color: $white;
        font-size: 132px;
        font-family: $passion;
        cursor: default;
    }

    .subline {
        position: absolute;
        bottom: 1rem;
        margin-left: 1rem;
        width: 50%;
        font-size: 48px;
        font-family: $raleway;
        font-weight: 900;
        line-height: 150%;
        cursor: default;

        h1,
        p {
            color: $white;
        }
    }
}

@media (max-width: 600px) {
    .container-home-hero {
        .subline {
            bottom: 5rem;
            font-size: 32px;
        }
    }
}

@media (max-width: 390px) {
    .container-home-hero {
        .subline {
            font-size: 24px;
        }
    }
}