@import "variables";

.page-home {
    position: relative;

    .hero-image {
        max-height: 400px;
    }

    .panels {
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding: 2%;
        padding-bottom: 0;
        overflow: hidden;

        .background-svg {
            position: absolute;
            z-index: -999;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            width: 150%;

            path {
                fill: $secondary-color;
            }
        }

        a {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 1rem;
            padding-bottom: 1.5rem;
            width: 30%;
            height: 350px;
            border-radius: 1rem;
            background-color: $primary-color;
            color: $text-color;
            font-family: $patua;
            font-size: 24px;
            text-align: center;

            svg {
                display: block;
                width: 50%;
                margin: 0 auto;
                margin-bottom: 2rem;

                .primary-color {
                    fill: $primary-color;
                }

                .secondary-color {
                    fill: $secondary-color;
                }

                .text-color {
                    fill: $text-color;
                }
            }
        }
    }

    .coaches {
        margin-top: 20vh;
    }

    .players {
        margin-top: 40vh
    }

    .team-proposition {
        position: relative;
        top: -50px;
        width: 50%;
        margin-top: -2%;
        margin-left: 2%;
        color: $primary-color;
        font-family: $patua;
        font-size: 40px;
    }

    .testimonial-container {
        position: relative;
        top: -50px;
        padding-top: 10%;
        color: $text-color;
        overflow: hidden;

        .background-svg {
            position: absolute;
            z-index: -999;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            width: 100%;

            path {
                fill: $primary-color;
            }
        }

        .avatar {
            position: absolute;
            top: 15%;
            right: 8%;
        }

        .quotation-mark {
            position: absolute;
            display: inline-block;
            height: 72px;
            color: $secondary-color;
            font-family: $staatliches;
            font-size: 96px;

            &.open {
                top: 38%;
                left: 10%;
            }

            &.close {
                right: 10%;
                bottom: 15%;
            }
        }

        .quotation {
            width: 60%;
            margin: 0 auto;
            padding: 10% 0;
            font-family: $staatliches;
            font-size: 48px;
        }

        .attribution {
            position: absolute;
            bottom: 5%;
            right: 5%;
            font-family: $patua;
            font-size: 24px;
        }
    }


}