@import "variables.scss";
@import "reset.scss";

.navbar {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    font-family: $staatliches;
    font-size: 24px;

    a {
        padding: 2% 0;
    }

    .image-container {
        position: absolute;
        z-index: 999;
        top: 100%;
        width: 15%;

        .svg-body {
            top: 0;
            width: 100%;
        }

        .team-logo {
            top: 15%;
            left: 50%;
            transform: translateX(-50%);
            width: 60%;
            margin: 0 auto;
        }
    }
}

.text-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 2%;

    p {
        width: 40%;
        text-align: center;
        font-family: $patua;
        font-size: 24px;
        text-transform: uppercase;
    }
}

footer {
    margin-top: 1rem;
    padding-bottom: 1rem;

    .image-container {
        max-width: 100px;
        margin: 0 auto;

        img {
            width: 100%;
        }
    }

    p {
        padding-top: 1rem;
        text-align: center;
        font-family: $patua;
    }

    .attribution-link {
        text-decoration: underline;
    }
}