@import 'global.scss';

.page-donation-thank-you {
    h1 {
        font-size: 48px;
        font-family: $passion;
        text-align: center;
    }

    p {
        padding: .5rem 3rem;
        font-size: 24px;
    }

    .link-button-container {
        width: 100%;
        text-align: center;
    }


    .link-button {
        margin-bottom: 2rem;
        font-family: $passion;
    }
}