@import url('https://fonts.googleapis.com/css2?family=Patua+One&family=Staatliches&display=swap');

$staatliches: "Staatliches",
sans-serif;
$patua: "Patua One",
serif;

$white: #ffffff;

$primary-color: #1D2355;
$secondary-color: #F6472C;
$text-color: #ffffff;